<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!-- 為了IE的相容問題 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 不讓使用者縮放頁面 -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Focus News!</title>
    <!-- Downloaded from https://github.com/twbs/bootstrap/releases/tag/v3.3.7 -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/base.css" rel="stylesheet">
</head>

<body>
<div class="container">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="{% url 'unread_news' %}">Unread News</a></li>
                <li><a href="{% url 'all_news' %}">All News</a></li>
                <li><a href="{% url 'rules' %}">Scraping Rules</a></li>
                <li><a href="{% url 'categories' %}">News Categories</a></li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="text-center">
                <h1>{% block header_text %}{% endblock %}</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {% block table %}
            {% endblock %}
        </div>
    </div>
</div>
</body>

</html>
